<!-- Footer Section -->
    <footer class="footer_part bg-dark">
        <div class="footer_top">
            <div class="container text-white"> 
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="single_footer_part">
                            <center>
                                <a href="index.html" class="footer_logo_inner"><img class="logo" src="../../img/logo.png" alt="#"></a>
                            </center>
                            <p> Affordable price. Awesome Experience. What else are you looking for? Reserve your tickets now!
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="single_footer_part">
                            <h4>Contact Info</h4>
                            <p>Address : AS Fortuna Covid Street Cebu City</p>
                            <p>Phone : 0965566666</p>
                            <p>Email : dresama@patodono.com</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="single_footer_part">
                            <h4>Important Link</h4>
                            <ul class="list-unstyled">
                                <li><a href=""> Facebook</a></li>
                                <li><a href="">Twitter</a></li>
                                <li><a href="">Instagram</a></li>
                                <li><a href="">Lazada</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
<!-- Plugins -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="text/javascript" src="/stylesheets/swiper.min.js"></script>
    <script type="text/javascript" src="/stylesheets/reserve.js"></script>
</body>
</html>